body {
  font-size: 10pt;
  line-height: 1.5em;
}
header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.site-logo {
  flex-basis: 57%;
}
.region-header {
  width: 320px;
  padding: 0;
  margin: auto;
}
#main-menu ul.menu {
  min-height: 40px;
}
#main-menu ul.menu li a {
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
}
/* hide title, etc on paper concatenation pages */
.laurel-advocate .region-content,
.cedar-county-news .region-content,
.coleridge-blade .region-content,
.osmond-republican .region-content,
.randolph-times .region-content,
.wausa-gazette .region-content {
  display: none;
  visibility: hidden;
}
/* weather blocks */
#block-block-45 .block-inner,
#block-block-46 .block-inner,
#block-block-48 .block-inner,
#block-block-47 .block-inner,
#block-block-49 .block-inner {
  padding: 0;
  border-style: none;
  border-width: 0;
  box-shadow: none;
}
/* own local */
#block-block-40 .block-inner {
  padding: 0;
  border: none;
}
#block-block-40 .block-inner .content {
  padding: 0;
}
@media only screen and (min-width: 959px) {
  .postscript-wrapper {
    margin-right: 0;
  }
  #main-menu ul.menu li ul {
    top: 40px;
  }
}
@media only screen and (max-width: 958px) {
  .site-logo {
    flex-basis: inherit;
  }
  /* mobile menu */
  #mobile-menu li {
    display: none;
    visibility: hidden;
  }
  #mobile-menu #menu-4291-1,
  #mobile-menu #menu-4478-1,
  #mobile-menu #menu-4476-1,
  #mobile-menu #menu-4475-1,
  #mobile-menu #menu-4474-1,
  #mobile-menu #menu-4624-1,
  #mobile-menu #menu-4625-1,
  #mobile-menu .leaf.first,
  #mobile-menu .leaf.last {
    display: block;
    visibility: visible;
  }
  /* hide weather */
  #block-block-1,
  #block-block-45,
  #block-block-46,
  #block-block-48,
  #block-block-47,
  #block-block-49 {
    display: none;
    visibility: hidden;
  }
  #block-simpleads-ad-groups-490,
  #block-simpleads-ad-groups-422 {
    display: none;
    visibility: hidden;
  }
  #block-block-40 {
    display: flex;
    justify-content: center;
  }
}
/* change link color in body text */
.node .content .field-name-body a {
  color: #396;
  text-decoration: underline;
}