body {
  font-size: 10pt;
  line-height: 1.5em;
}
header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.site-logo {
  flex-basis: 57%;
}
.region-header {
  width: 320px;
  padding: 0;
  margin: auto;
}
#main-menu ul.menu {
  min-height: 40px;
}
#main-menu ul.menu li a {
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}
/* hide title, etc on paper concatenation pages */
.laurel-advocate .region-content,
.cedar-county-news .region-content,
.coleridge-blade .region-content,
.osmond-republican .region-content,
.randolph-times .region-content,
.wausa-gazette .region-content {
  display: none;
  visibility: hidden;
}
/* own local */
#block-block-40 .block-inner {
  padding: 0;
  border: none;
}
#block-block-40 .block-inner .content {
  padding: 0;
}
@media only screen and (min-width: 959px) {
  .postscript-wrapper {
    margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .site-logo {
    flex-basis: inherit;
  }
}