/* SIMPLE ADS
--------------------------------------------------------------------------*/


/* Google DFP Ads
--------------------------------------------------------------------------*/

/* wide desktop browsers */
@media only screen and (min-width: 959px) {

    /* dfp ads */

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* dfp ads */

}

@media only screen and (max-width: 767px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-block-46 {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-width: 768px) {

    /* etype network dfp ad in footer */
    #block-block-46 {
        width: 728px;
        margin: 0 auto 20px;
    }

}
