/* logo */
.site-logo {
    width: 100%;
    margin: 0 auto;
    max-width: 464px;
}

.site-logo img {
    width: 100%;
    max-width: 464px;
}

/* main-menu background-color */
#block-superfish-1 {
    background-color: #68000e;
}

.sf-menu.sf-style-space li, .sf-menu.sf-style-space li li, .sf-menu.sf-style-space li li li, .sf-menu.sf-style-space.sf-navbar {
    background: #68000e;
}

/* SIMPLE ADS
--------------------------------------------------------------------------*/


/* Google DFP Ads
--------------------------------------------------------------------------*/

/* wide desktop browsers */
@media only screen and (min-width: 959px) {

    /* dfp ads */

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* dfp ads */

}

@media only screen and (max-width: 767px) {

    /* Hide larger DFP ads on non full-size browsers */

}

@media only screen and (min-width: 768px) {

    /* etype network df ad in footer */
    #block-block-46 {

    }

}
