body {
  font-size: 10pt;
  line-height: 1.5em;
  background-color: #ccc;
}
.page-inner {
  background-color: #ccc;
}
/* own local */
#block-block-36 .block-inner,
#block-block-35 .block-inner {
  padding: 0;
  border: none;
}
@media only screen and (min-width: 959px) {
  .postscript-wrapper {
    margin-right: 0;
  }
}
