body {
  font-size: 10pt;
  line-height: 1.5em;
  background-color: #ccc;
}
.region-user-menu {
  margin: 0 2em 0.6em;
  background-color: #ccc;
}
.page-inner {
  background-color: #ccc;
}
.preface-wrapper .block .content {
  background-color: #fff;
}
.preface-wrapper .block h3.title, .preface-wrapper .block h3.title a {
  color: #c00;
}
/* own local */
#block-block-36 .block-inner,
#block-block-35 .block-inner {
  padding: 0;
  border: none;
}
@media only screen and (min-width: 959px) {
  .postscript-wrapper {
    margin-right: 0;
  }
}
