body {
  font-size: 10pt;
  line-height: 1.5em;
}
.region-user-menu {
  margin: 0 auto;
  max-width: 1000px;
}
#user-menu ul.menu li a {
  border: none;
}
.preface-wrapper .block .content {
  background-color: #fff;
}
.preface-wrapper .block h3.title, .preface-wrapper .block h3.title a {
  color: #c00;
}
/* own local */
#block-block-36 .block-inner,
#block-block-35 .block-inner {
  padding: 0;
  border: none;
}
@media only screen and (min-width: 959px) {
  .postscript-wrapper {
    margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .region-user-menu {
    margin: 0 0 0.6em;
    background-color: #f3f1f1;
  }
  /* hide leaderboard on mobile */
  #block-simpleads-ad-groups-416,
  #block-simpleads-ad-groups-416 {
    display: none;
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) {
  /* hide mobile ads on desktop */
  #block-simpleads-ad-groups-619 {
    display: none;
    visibility: hidden;
  }
}
