#page-wrapper {
    width: 100%;
}

#page {
    margin: 0 1em;
}

.region {
    margin: 1em 0;
}

/* HEADER */

#header {
    margin-top: 1em;
}

/* logo */
#logo {
    width: 100%;
}

#logo img {
    width: 100%;
}

/* hide top search form */
#block-multiblock-1 {
    display: none;
}

/* Content Areas General Styles */
.region-content0 .block, .region-content1 .block, .region-content2 .block {
    color: #666666;
    font-size: 0.85em;
}

.region-content0 h2.block-title, .region-content1 h2.block-title, .region-content2 h2.block-title {
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.65em;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.block-views img {
    border: 1px solid #CCCCCC;
    float: left;
    margin-bottom: 6px;
    margin-right: 10px;
    padding: 3px;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.region-content0 .block-views img:hover, .region-content1 .block-views img:hover, .region-content2 .block-views img:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}

.region-content0 .block-views h3, .region-content1 .block-views h3, .region-content2 .block-views h3 {
    margin-bottom: 4px;
}

.region-content0 .block-views h4, .region-content1 .block-views h4, .region-content2 .block-views h4 {
    font-size: 1.3em;
    margin-bottom: 7px;
}

/*
 * CONTENT AREA BLOCKS
 *
 * These are the styles from the blocks located in the main content area
 * of the Page. It's recommended to use them all on the front page as
 * "Articles Dashboard" and in inner pages depending of their purpose.
 *
 */

/*
 *  Article Styles
 */

.block-views .views-row {
    clear: both;
    border-bottom: 1px dashed #CCCCCC;
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.block-views .views-field-body-1 {
    border-bottom: 1px dashed #CCCCCC;
    margin-bottom: 9px;
    margin-top: 8px;
    padding-bottom: 17px;
}

.block-views .view-footer {
    padding-bottom: 0;
    padding-right: 7px;
    padding-top: 0;
    text-align: right;
}

.block-views .views-row-last {
    border-bottom: none !important;
}

h2.block-title {
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.5em;
    margin-bottom: 10px;
    padding-bottom: 5px;
}


/* IMAGE FIELD CAPTION */
.view blockquote.image-field-caption, .node-teaser blockquote.image-field-caption {
    display: none;
    visibility: hidden;
}

.page-node .node-article .content .field-type-image blockquote.image-field-caption {
    float: left;
    max-width: 380px;
    margin: 5px 0 0;
}

blockquote.image-field-caption p {
    line-height: 1.5em;
    margin: 0 0 0.6em;
}
