#page-wrapper {
    width: 100%;
}

#page {
    margin: 0 1em;
}

.region {
    margin: 1em 0;
}

/* HEADER */

#header {
    margin-top: 1em;
}

/* logo */
#logo {
    width: 100%;
}

#logo img {
    width: 100%;
}

/* hide top search form */
#block-multiblock-1 {
    display: none;
}

/* IMAGE FIELD CAPTION */
.view blockquote.image-field-caption, .node-teaser blockquote.image-field-caption {
    display: none;
    visibility: hidden;
}

.page-node .node-article .content .field-type-image blockquote.image-field-caption {
    float: left;
    max-width: 380px;
    margin: 5px 0 0;
}

blockquote.image-field-caption p {
    line-height: 1.5em;
    margin: 0 0 0.6em;
}
