#page-wrapper {
    width: 100%;
}

#page {
    margin: 0 1em;
}

.region {
    margin: 1em 0;
}

/* HEADER */

#header {
    margin-top: 1em;
}

/* logo */
#logo {
    width: 100%;
}

#logo img {
    width: 100%;
}

/* hide top search form */
#block-multiblock-1 {
    display: none;
}

/* SIMPLE ADS */

/* line up ads */
.block-simpleads .adslist > div > div {
    display: flex;
    justify-content: space-around;
}