/* logo */
.site-logo {
    width: 100%;
    margin: 0;
}

.site-logo img {
    width: 100%;
}

/* SIMPLE ADS
--------------------------------------------------------------------------*/

#block-simpleads-ad-groups-453 {
	text-align:center;
}

#block-simpleads-ad-groups-453 img {
	max-width:100%;
}

#block-simpleads-ad-groups-454 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-454 img {
	max-width:100%;
}

#block-simpleads-ad-groups-455 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-455 img {
	max-width:100%;
}

#block-simpleads-ad-groups-456 {
	text-align:center;
}

#block-simpleads-ad-groups-456 img {
	max-width:100%;
}

#block-simpleads-ad-groups-457 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-457 img {
	max-width:100%;
}

#block-simpleads-ad-groups-458 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-458 img {
	max-width:100%;
}

#block-simpleads-ad-groups-459 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-459 img {
	max-width:100%;
}

#block-simpleads-ad-groups-460 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-460 img {
	max-width:100%;
}
