.node-article .content a {
    color: blue;
    text-decoration: underline;
}

.node-article .content .field-type-email a {
    color: #333333;
    text-decoration: none;
}

@media only screen and (max-width: 720px) {
	#block-block-40 {
		visibility: hidden;
		display: none;
		} 
	#google_ads_iframe_/6785150/BENN/Beaches_Leader_5__container__ {
		visibility: hidden;
		display: none;
		}
	
		}
		
@media only screen and (min-width: 400px) {
	#block-block-42 {
		visibility: hidden;
		display: none;
		} }
		
