/* wider screens */
@media only screen and (min-width: 959px) {

    .site-logo {
        margin-left: 7em;
    }

    .region-headerad {
        float: right;
        margin: 5px 0 0;
    }

    /* main menu */
    #block-superfish-1 .content {
        width: 900px;
    }

    #block-superfish-1 ul #menu-1797-1 {
        display: none;
    }

    /* drop-down menu */
    .sf-menu.sf-style-space.sf-navbar li ul {
        background-color: transparent;
    }

    #main-menu ul.menu li ul {
        background: transparent none repeat scroll 0% 0%;
        width: inherit;
    }

    #main-menu ul.menu li ul li {
        background-color: #cccccc;
    }

    #main-menu ul.menu li li a, #main-menu ul.menu li li a.active {
        padding: 0 10px;
        color: #000000;
    }

    #main-menu ul.menu li ul li a:hover,
    #main-menu ul.menu li li a:hover,
    #main-menu ul.menu li ul li a.active:hover {
        background-color: #eaeaea;
    }

    /* legal forms */
    #legals-0-1 {
        float:left;
        margin: 2em 0.5em 2em 0;
    }

    #legals-0-2 {
        float:left;
        margin: 2em 0 2em 0.5em;
    }

    #legals-0-2 ::after {
        clear: left;
    }

    /* dfp ads */
    #dfp-ad-banner_top {
        width: 728px;
        margin: 20px auto 0 auto;
    }
    #dfp-ad-banner {
        width: 468px;
        margin: 0px auto 0px 83px;
    }

    #block-dfp-cni-fernandinamobile {
        display: none;
        visibility: hidden;
    }
    
    .node-teaser .node-content-wrapper {
        margin-left: 180px;
    }

}

/* desktop browsers */
@media only screen and (max-width: 958px) and (min-width: 768px) {

    .site-logo {
        margin-left: 7em;
    }

    /* main menu */
    #block-superfish-1 .content {
        width: 760px;
    }

    #block-superfish-1 ul #menu-1797-1 {
        display: none;
    }

    #main-menu ul.menu {
        margin: 0 0 0 1em;
    }

    #main-menu ul.menu li a {
        padding: 0 9px;
        font-size: 12px;
        font-weight: bold;
    }

    /* drop-down menu */
    .sf-menu.sf-style-space.sf-navbar li ul {
        background-color: transparent;
    }

    #main-menu ul.menu li ul {
        background: transparent none repeat scroll 0% 0%;
        width: inherit;
    }

    #main-menu ul.menu li ul li {
        background-color: #cccccc;
    }

    #main-menu ul.menu li li a, #main-menu ul.menu li li a.active {
        padding: 0 10px;
        color: #000000;
    }

    #main-menu ul.menu li ul li a:hover,
    #main-menu ul.menu li li a:hover,
    #main-menu ul.menu li ul li a.active:hover {
        background-color: #eaeaea;
    }

    /* legal forms */
    #legals-0-1 {
        float:left;
        margin: 2em 0 0.3em;
    }

    #legals-0-2 {
        float:left;
        margin: 0.3em 0 2em;
    }

    /* other */
    #block-block-1 {
        display: none
    }

    .page-node .field-name-field-image img {
        width: 490px;
        height: auto;
    }

    .page-node .field-name-field-video iframe {
        width: 490px;
        height: 300px;
    }

    .node .content img {
        max-width: 450px;
    }

    /* dfp ads */
    #dfp-ad-banner_top {
        width: 728px;
        margin: 20px auto 0;
    }
    #dfp-ad-banner {
        margin: 0px auto 0px 15px;
    }

    .site-logo {
        width: 460px;
        margin-left: 0;
        margin-right: 0em;
    }

    .region-headerad {
        float: right;
        margin: 0 0 0.6em 0;
    }

    #block-dfp-cni-fernandinamobile {
        display: none;
        visibility: hidden;
    }

    /* SLIDESHOW
    --------------------------------------------------------------------------*/
    .view-slideshow .views_slideshow_main {
        height: 240px;
    }

    .view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
        width: 492px;
        height: auto;
    }

    .view-slideshow .views_slideshow_main .views-field-title {
        width: 410px;
    }

    .view-slideshow .views_slideshow_main .views-field-body {
        width: 410px;
        top: 130px;
        font-size: 11px;
    }

    #views_slideshow_cycle_main_slideshow-block {
        margin-left: 20px;
        margin-top: 20px;
    }
    .views-slideshow-controls-bottom {
        margin-top: 44px;
    }

    /* Slideshow controls */
    .view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
        width: 54px;
        height: 35px;
    }

    /* Video Featured */
    .view-featured-view iframe {
        width: 195px;
        height: 120px;
    }

}

/* smaller browsers, tablets */
@media only screen and (max-width: 767px) and (min-width: 480px) {

    #dfp-ad-banner_top {
        width: 728px;
        margin: 20px auto;
    }
    #dfp-ad-banner {
        margin: 0px auto 0px 15px;
    }

    /* Hide some DFP ads on non full-size browsers */
    #block-dfp-cni-fernandinaleaderboard, #block-dfp-cni-whitebanner, #dfp-ad-cni_fernandinafooter {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-fernandinamobile {
        display: block;
        visibility: visible;
    }

    .region-headerad {
        float: left;
        margin: 0.2em 0 1em 5em;
    }


    #superfish-1 {
        display: block !important;
    }

    #block-superfish-1 {
        height: auto;
    }

    #block-superfish-1 .content {
        width: auto;
    }

    #block-superfish-1 ul li {
        display: none;
    }

    #block-superfish-1 ul li:first-child {
        display: list-item;
    }

    #main-menu ul.menu li  {
        float: none;
        list-style: disc;
    }

    #main-menu ul.menu li a {
        background: url("../images/mobile_menu.png") no-repeat scroll 7px 8px transparent;
        color: #ffffff;
        display: block;
        font-weight: bold;
        height: 27px;
        margin-top: 0;
        padding: 7px 15px 0 26px;
        line-height: 22px;
        text-decoration: none;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        -webkit-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
    }

    #main-menu ul.menu li a:hover {
        background: url("../images/mobile_menu.png") no-repeat scroll 7px 8px transparent;
        color: #ffffff;
    }

    /* legal forms */
    #legals-0-1 {
        float:left;
        margin: 2em 0 0.3em;
    }

    #legals-0-2 {
        float:left;
        margin: 0.3em 0 2em;
    }

    #block-block-1 {
        display: none
    }

    .main-content-wrapper {
        margin-top: 0px;
    }
    
    .node-teaser {
        border-bottom: 1px solid #dddddd;
    	padding-bottom: 1em;
    	margin-bottom: 0.5em;
    }
    
    .node-teaser.last {
    	border-bottom: 0;
    }

    .node-teaser .field-name-field-image img {
        float: left;
        margin: 1em 1em 0 0;
    }

    .node-teaser .node-content-wrapper {
        margin-left: 0;
    }

    .node-teaser .node-content-wrapper .submitted {
        border-bottom: 0;
    }
    
    .node-teaser .field-name-field-video iframe {
        float: none;
        width: 240px;
        height: 160px;
        margin: 0 0 20px 0;
    }

    .page-node .field-name-field-image img {
        width: 300px;
        height: auto;
    }

    .page-node .field-name-field-video iframe {
        width: 300px;
        height: 200px;
    }

    .node .content img {
        max-width: 380px;
    }

    /* SLIDESHOW
    --------------------------------------------------------------------------*/

    .view-slideshow .views_slideshow_main {
        height: 200px;
    }

    .view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
        width: 379px;
        height: auto;
    }

    .view-slideshow .views_slideshow_main .views-field-title {
        width: 339px;
    }

    .view-slideshow .views_slideshow_main .views-field-body {
        display: none;
    }

    /* Slideshow controls */
    .view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
        width: 53px;
        height: 33px;
        margin-right: 4px;
        margin-left: 4px;
    }

    #views_slideshow_cycle_main_slideshow-block {
        margin-left: 20px;
        margin-top: 20px;
    }
    .views-slideshow-controls-bottom {
        margin-top: 34px;
    }

    /* FOOTER */
    .postscript-wrapper {
        padding: 1em;
        margin: 0;
        border-top: 0;
    }

    .postscript-wrapper h3 {
        margin-left: 0;
        margin-bottom: 10px;
        background: none;
    }

    .region-postscript-4 {
        margin-top: 1em;
    }

    /* weather block */
    #block-block-35 .block-inner {
        border: none;
        box-shadow: none;
    }

}

/* larger phones */
@media only screen and (max-width: 479px) and (min-width: 421px) {

    /* Hide some DFP ads on non full-size browsers */
    #block-dfp-cni-fernandinaleaderboard, #dfp-ad-banner, #dfp-ad-cni_fernandinafooter {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-fernandinamobile {
        display: block;
        visibility: visible;
    }

    .region-headerad {
        float: left;
        margin: 0.2em 0 1em 5em;
    }

    /* main menu */
    #main-menu ul.menu {
        margin: 0 0 0 1em;
    }

    #superfish-1 {
        display: block !important;
    }

    #block-superfish-1 {
        height: auto;
    }

    #block-superfish-1 .content {
        width: auto;
    }

    #block-superfish-1 ul li {
        display: none;
    }

    #block-superfish-1 ul li:first-child {
        display: list-item;
    }

    #main-menu ul.menu li  {
        float: none;
        list-style: disc;
    }

    #main-menu ul.menu li a {
        background: url("../images/mobile_menu.png") no-repeat scroll 7px 8px transparent;
        color: #ffffff;
        display: block;
        font-weight: bold;
        height: 27px;
        margin-top: 0;
        padding: 7px 15px 0 26px;
        line-height: 22px;
        text-decoration: none;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        -webkit-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
    }

    #main-menu ul.menu li a:hover {
        background: url("../images/mobile_menu.png") no-repeat scroll 7px 8px transparent;
        color: #ffffff;
    }

    /* legal forms */
    #legals-0-1 {
        float:left;
        margin: 2em 0 0.3em;
    }

    #legals-0-2 {
        float:left;
        margin: 0.3em 0 2em;
    }

    #block-block-1 {
        display: none
    }

    .node .content img {
        max-width: 380px;
    }

    .node-teaser .field-name-field-image img {
        float: left;
        margin: 0 20px 0 0;
    }

    .node-teaser .node-content-wrapper {
        margin-left: 0;
    }
    
    .node-teaser .node-content-wrapper h2.title {
    	clear: left;
    	padding-top: 0.5em;
    }
    
    .node-teaser .field-image img {
    	width: 93%;
    	height: auto;
    }
    
    .node-teaser {
        border-bottom: 1px solid #dddddd;
    	padding-bottom: 1em;
    	margin-bottom: 0.5em;
    }
    
    .node-teaser.last {
    	border-bottom: 0;
    }

    .node-teaser .node-content-wrapper .submitted {
        border-bottom: 0;
    }
    
    .video .node-teaser .node-content-wrapper {
        margin-left: 0px;
    }

    .node-teaser .field-name-field-video iframe {
        float: none;
        width: 360px;
        height: 220px;
        margin: 0 0 20px 0;
    }

    .page-node .field-name-field-image img {
        width: 418px;
        height: auto;
    }

    .page-node .field-name-field-video iframe {
        width: 418px;
        height: 300px;
    }

    .site-logo {
        width: 320px;
    }

    /* SLIDESHOW
    --------------------------------------------------------------------------*/
    .view-slideshow .views_slideshow_main {
        height: 160px;
        margin: 14px;
    }

    .view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
        width: 270px;
        height: auto;
    }

    .view-slideshow .views_slideshow_main .views-field-title {
        width: 230px;
    }

    .view-slideshow .views_slideshow_main .views-field-body {
        display: none;
    }

    /* Slideshow controls */
    .view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
        width: 22px;
        height: 15px;
        margin-left: 9px;
    }

    /* FOOTER */
    .postscript-wrapper {
        padding: 1em;
        margin: 0;
        border-top: 0;
    }

    .postscript-wrapper h3 {
        margin-left: 0;
        margin-bottom: 10px;
        background: none;
    }

    .region-postscript-4 {
        margin-top: 1em;
    }


    /* weather block */
    #block-block-35 .block-inner {
        border: none;
        box-shadow: none;
    }

}

/* smaller phones */
@media only screen and (max-width: 420px) {

    /* Hide some DFP ads on non full-size browsers */
    #block-dfp-cni-fernandinaleaderboard, #dfp-ad-banner, #dfp-ad-cni_fernandinafooter {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-fernandinamobile {
        display: block;
        visibility: visible;
    }

    .region-headerad {
        float: left;
        margin: 0.2em 0 1em 1em;
    }

    /* main menu */
    #main-menu ul.menu {
        margin: 0;
    }

    #superfish-1 {
        display: block !important;
    }

    #block-superfish-1 {
        height: auto;
    }

    #block-superfish-1 .content {
        width: auto;
    }

    #block-superfish-1 ul li {
        display: none;
    }

    #block-superfish-1 ul li:first-child {
        display: list-item;
    }

    #main-menu ul.menu li  {
        float: none;
        list-style: disc;
    }

    #main-menu ul.menu li a {
        background: url("../images/mobile_menu.png") no-repeat scroll 7px 8px transparent;
        color: #ffffff;
        display: block;
        font-weight: bold;
        height: 27px;
        margin-top: 0;
        padding: 7px 15px 0 26px;
        line-height: 22px;
        text-decoration: none;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        -webkit-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
    }

    #main-menu ul.menu li a:hover {
        background: url("../images/mobile_menu.png") no-repeat scroll 7px 8px transparent;
        color: #ffffff;
    }

    /* legal forms */
    #legals-0-1 {
        float:left;
        margin: 2em 0 0.3em;
    }

    #legals-0-2 {
        float:left;
        margin: 0.3em 0 2em;
    }

    #block-block-1 {
        display: none
    }

    .node .content img {
        max-width: 380px;
    }

    .node-teaser .field-name-field-image img {
        float: left;
        margin: 0 20px 0 0;
    }

    .video .node-teaser .node-content-wrapper {
        margin-left: 0px;
    }

    .node-teaser .field-name-field-video iframe {
        float: none;
        width: 360px;
        height: 220px;
        margin: 0 0 20px 0;
    }
    
    .node-teaser {
        border-bottom: 1px solid #dddddd;
    	padding-bottom: 1em;
    	margin-bottom: 1.5em;
    }
    
    .node-teaser.last {
    	border-bottom: 0;
    }

    .node-teaser .node-content-wrapper .submitted {
        border-bottom: 0;
    }

    .page-node .field-name-field-image img {
        width: 418px;
        height: auto;
    }

    .page-node .field-name-field-video iframe {
        width: 418px;
        height: 300px;
    }

    .site-logo {
        width: 320px;
    }

    /* SLIDESHOW
--------------------------------------------------------------------------*/
    .view-slideshow .views_slideshow_main {
        height: 160px;
        margin: 14px;
    }

    .view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
        width: 270px;
        height: auto;
    }

    .view-slideshow .views_slideshow_main .views-field-title {
        width: 230px;
    }

    .view-slideshow .views_slideshow_main .views-field-body {
        display: none;
    }

    /* Slideshow controls */
    .view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
        width: 26px;
        height: 17px;
        margin-left: 6px;
    }

    /* FOOTER */
    .postscript-wrapper {
        padding: 1em;
        margin: 0;
        border-top: 0;
    }

    .postscript-wrapper h3 {
        margin-left: 0;
        margin-bottom: 10px;
        background: none;
    }

    .region-postscript-4 {
        margin-top: 1em;
    }

    /* weather block */
    #block-block-35 .block-inner {
        border: none;
        box-shadow: none;
    }
    
    /* main category pages for articles */
    .node-teaser .node-content-wrapper {
        margin-left: 0;
    }
    
    .node-teaser .node-content-wrapper h2.title {
    	clear: left;
    	padding-top: 0.5em;
    }
    
    .node-teaser .field-image img {
    	width: 93%;
    	height: auto;
    }

}