@media only screen and (min-width: 959px) {
    /* "cut off" main menu */
    .main-menu-wrapper {
        width: 940px;
        margin: auto;
    }
    #main-menu ul.menu {
        justify-content: space-between;
    }
}

.node .field-name-field-image img {
    width: initial;
    max-width: 100%;
    margin: auto;
}