body {
    background: url(/sites/all/themes/fredtwentytwo/images/body.png) repeat-x #CBCBCB;
}

@media only screen and (min-device-width: 980px) and (min-width: 980px), (max-device-width: 1024px) and (min-width: 1024px) and (orientation: landscape) {

    #block-superfish-1 ul {
        background: url(/sites/all/themes/fredtwentytwo/images/nav_orange_bg.gif) repeat-x scroll 0 0 transparent !important;
    }

    #block-superfish-1 ul li {
        border-right: 1px solid #ec5f07;
        border-top: none;
    }

    #block-superfish-1 ul li a {
        color: #FFFFFF;
    }
}

@media only screen and (max-device-width: 979px) and (max-width: 979px) {
    body {
        background: none #ffffff;
    }
}

#block-menu-menu-secondary-menu .menu li a,
#block-menu-menu-secondary-menu .menu li a.active {
    color: #ffffff;
}

#block-views-breaking-news-block {
    display: block;
    width: 728px;
    height: 60px;
    background-color: #F9760B;
    margin-left: -10px;
    margin-bottom: 8px;
    overflow: hidden;
}

#block-views-breaking-news-block a {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    margin-left: 15px;
}

#block-views-breaking-news-block h2.block-title {
    border-bottom: 1px dashed #ffffff;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 300;
}
